
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey500: hsl(234, 12%, 34%);
    --grey400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    --font-size: 15px;
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 200;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-light);
    color: var(--grey500);
}

h2 {
    color: var(--grey500);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
}

p {
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    color: var(--grey400);
}

.heading {
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 2.5rem;
    max-inline-size: 1200px;
    margin-inline: auto;
    /*grid-template-areas: ;*/
}

.grid-items {
    text-align: left;
    display: flex;
    flex-direction: column;
    grid-row: span 2 / span 2;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.2rem var(--grey400);
}

.grid-items img {
    align-self: flex-end;
    margin-top: auto;
}

.supervisor {
    border-top: 0.2em solid var(--cyan);
    grid-column-start: 1;
    grid-row-start: 2;
}

.team-builder {
    border-top: 0.2rem solid var(--red);
    grid-column-start: 2;
    grid-row-start: 1;
}

.karma {
    border-top: 0.2rem solid var(--orange);
    grid-column-start: 2;
    grid-row-start: 3;
}

.calculator {
    border-top: 0.2rem solid var(--blue);
    grid-column-start: 3;
    grid-row-start: 2;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 2.0rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}